<div>
    <h1>D3.js Example</h1>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="examplesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Examples
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="examplesMenu">
            <li ng-repeat="example in config.examples"><a href="/#/example/{{example.id}}">{{example.name}}</a></li>
        </ul>
    </div>
    <div id="example-loading" class="alert alert-info text-center visually-hidden"><h3><span class="glyphicon glyphicon-hourglass"></span> Loading...</h3></div>
    <div id="example-failed" class="alert alert-danger visually-hidden"><span class="glyphicon glyphicon-warning-sign"></span> Failed to render example!</div>
    <div id="example-container">
        <div id="example-form"></div>
        <div id="example-content"></div>
    </div>
</div>